.header-text{
    -webkit-text-stroke: 2px white;
}

// Base: ensure header fills the container and covers
.header{
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:url(../images/home.png) no-repeat center;
    background-size: cover;
}

@include media-breakpoint-down(md){
    .header{
        background:url(../images/home_mobile.png) no-repeat center;
    }
}

@include media-breakpoint-up(lg){
    .header{
        background:url(../images/home.png) no-repeat center;
    }
}