// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "./abstracts/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "./abstracts/utilities";

// Vendors
@import "./vendors/bootstrap";

//custom
@import "./layout/header";
@import "./components/gradient";
@import "./components/btn-hover";
@import "./components/link-hover";
@import "./components/img-hover";
@import "./components/cta";
@import "./components/card-align";
@import "./components/service-steps";
@import "./base/typography";
@import "./base/vendor-fixes";